# iOS simulator: http://127.0.0.1:3000
# Android emulator: http://10.0.2.2:3000
# Physical device: your development computer's LAN address
EXPO_PUBLIC_API_URL=http://127.0.0.1:3000
EXPO_PUBLIC_DATA_LABEL=Local database
